EFSAMessageCreator/VMPR_WF2_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) by - (EFSA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="xs:anyType" minOccurs="0"/>
				<xs:element ref="payload" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="payload">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="operation" type="xs:anyType" minOccurs="0"/>
				<xs:element ref="dataset" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="result">
		<xs:complexType>
			<xs:all>
				<xs:element name="localOrgId" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="localOrgCountry" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="progId">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="100"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="progLegalRef">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampStrategy">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="progType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampMethod" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampler">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampPoint">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampEventId" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampUnitType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampUnitSize" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampUnitSizeUnit" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampId">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="100"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="repCountry" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampCountry">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampArea" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="repYear" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampY">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampM" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampSize" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampSizeUnit" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampMatType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampMatText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origCountry">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origArea" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origFishAreaCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origFishAreaText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="procCountry" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="procArea" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampAnId" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampAnRefTime" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="analysisY">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="analysisM" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="analysisD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anMatText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anPortSeq" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anPortSize" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anPortSizeUnit" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="isolId" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="isolParamText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="labId" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="labAccred" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="labCountry" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="paramType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="paramText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anMethRefId" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anMethRefCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anMethType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anMethText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resId">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="100"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="accredProc">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resUnit">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resLOD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resLOQ" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resLLWR" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resULWR" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CCalpha" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CCbeta" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resVal" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resValRec" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resValRecCorr" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="exprResType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resQualValue" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resValUncert" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resValUncertSD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="evalLowLimit" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="evalHighLimit" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="evalLimitType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="evalCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="actTakenCode" type="SSDRepeatableType" minOccurs="0"/>
				<xs:element name="localOrgInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="progInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="sampUnitIds" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="sampEventInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="sampInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="sampMatCode" type="SSDCompoundType"/>
				<xs:element name="sampMatInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="sampAnInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="anMatCode" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="anMatInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="anPortInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="isolParamCode" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="isolInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="labInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="paramCode" type="SSDCompoundType"/>
				<xs:element name="anMethCode" type="SSDCompoundType"/>
				<xs:element name="anMethInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="exprResPerc" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="resRefId" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="resInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="evalInfo" type="SSDCompoundType" minOccurs="0"/>
				<xs:element name="amType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SSDCompoundType" mixed="true">
		<xs:sequence>
			<xs:element name="base" type="xs:anySimpleType" minOccurs="0"/>
			<xs:element name="value" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:anySimpleType">
							<xs:attribute name="code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SSDRepeatableType" mixed="true">
		<xs:sequence>
			<xs:element name="value" type="xs:anySimpleType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
