EFSAMessageCreator/WF2_pesticides_SSD1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) by - (EFSA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="xs:anyType" minOccurs="0"/>
				<xs:element ref="payload" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="payload">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="operation" type="xs:anyType" minOccurs="0"/>
				<xs:element ref="dataset" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="result">
		<xs:complexType>
			<xs:all>
				<xs:element name="resEvaluation">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anMethText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="analysisY">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampArea" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="labCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="100"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="labSampCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="moistPerc" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="paramText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lotSize" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resLegalLimit" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="expiryD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodPack" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="procArea" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lotSizeUnit" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="paramCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="analysisD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="progCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodCom" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="localOrg" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resVal" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="analysisM" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampY">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anMethRefCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="500"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resLOD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampPoint">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resUnit">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CCbeta" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="labCountry" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EFSAParamCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origCountry">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="procCountry" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodM" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="labAccred">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodY" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resValUncert" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="paramType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampCountry">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodIngred" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="exprRes" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="anMethCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CCalpha" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resultCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="40"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="actTakenCode" type="SSDRepeatableType" minOccurs="0"/>
				<xs:element name="progSampStrategy">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origArea" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="fatPerc" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampM">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="progLegalRef">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resLegalLimitType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodTreat">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodBrandName" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampMethod">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampleNum" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="localOrgCountry" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="expiryM" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodProdMeth">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resValUncertSD" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origFishAreaCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resQualValue" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resComm" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="expiryY" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lang" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resValRecCorr" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resLOQ">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="labSubSampCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="progType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="400"/>
							<xs:pattern value=".*[^\s].*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="accredProc" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="resValRec" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="10"/>
							<xs:totalDigits value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sampD">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EFSAProdCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prodManuf" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origFishAreaText" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="amType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SSDCompoundType" mixed="true">
		<xs:sequence>
			<xs:element name="base" type="xs:anySimpleType" minOccurs="0"/>
			<xs:element name="value" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:anySimpleType">
							<xs:attribute name="code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SSDRepeatableType" mixed="true">
		<xs:sequence>
			<xs:element name="value" type="xs:anySimpleType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
